
input[type='submit'] {
    margin: 12px;
}

#tooHigh {
    color: rgb(112, 36, 36);
}

.invisible {
    display: none;
}

#output {
    padding: auto;
}

footer {
    position: fixed;
    bottom: 0;
}

#characterSelect {
    width: 5em;
}
